:root {
  --light-transparent: #fff3;
  --light-transparent-extra: #fff7;
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: 'Tahoma', 'Arial', sans-serif;
}

body {
  background: linear-gradient(180deg, lightskyblue, steelblue);
  color: #222;
}

.container {
  width: 100%;
  max-width: 768px;
  height: 100vh;
  margin: 0 auto;
}
