:root {
  --light-transparent: #fff3;
  --light-transparent-extra: #fff7;
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: 'Tahoma', 'Arial', sans-serif;
}

body {
  background: linear-gradient(180deg, lightskyblue, steelblue);
  color: #222;
}

button {
  padding: 7px 17px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}
button:hover {
  box-shadow: 0px 0px 1px 3px dodgerblue;
}

.container {
  width: 100%;
  max-width: 768px;
  height: 100vh;
  margin: 0 auto;
}
